<div class="header">
    <div class="logo"> Logo </div>
    <div class="right-side">
        <mat-form-field appearance="fill" class="language">
            <mat-label>{{ 'HEADER.SELECTOR-TITLE' | translate }}</mat-label>
            <mat-select [(ngModel)]="defaultLang" (selectionChange)="languageHandler($event.value)">
            <mat-option *ngFor="let lang of langs" [value]="lang">
                {{lang}}
            </mat-option>
            </mat-select>
        </mat-form-field>    
        <button mat-raised-button color="primary" class="button">{{ 'BUTTON.LOGOUT' | translate }}</button>
    </div>
</div>
