$header_color:rgb(82, 137, 255);

.header{
    display: flex;
    justify-content: space-between;
    width:auto;
    height: 50px;
    align-items: center;
    background-color: $header_color;
    padding: 10px;
}

.right-side{
    //width : 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.language{
    width: 100px;
    height: 50px;
    font-size: 14px;
    color:white;
}
.button{
    height: 50px;
}
.logo{
    padding: 5px;
    border:1px solid black;
}
