.new-discount-wrapper {
  background: #DEEBFA;
}

%form {
  width: 100%;
  max-width: 900px;
  margin: 2.5em auto;
}

mat-card {
  @extend %form;
    padding: 25px 50px;
    min-width: 200px;
  @media screen and (device-aspect-ratio: 40/71) {
    min-width: 300px;
  }
  h2{
    align-self: center;
  }
}

.new-discount-title {
  text-align: center;
}

.form {
  &__discount-description {
    height: 190px;
  }
  &__discount-details {
    margin-top: 10px;
  }
}

::ng-deep {
  .mat-form-field-wrapper {
    width: 100%;
  }
 
}

.activity-date {
  margin-top: 5px;
}

.full-width {
  width: 100%;
}

.points {
  &__name,
  &__address {
    width: 40%;
    margin-right: 30px;
  }
  &__icons {
    margin-top: 13px;
  }
}

button {
  width: 100%;
  margin-top: 20px;
}

mat-icon{
  cursor: pointer;
}

.mat-slide-toggle {
  margin-left: 5px;
}

@media screen and (max-width: 660px) {
  mat-card-content {
    font-weight: normal;
    font-size: 14px;
    letter-spacing: initial;
    margin: 0;
  }
  .chip-list,
  .form__discount-details {
    width: 100%;;
  }
  .mat-form-field-infix {
    // width: 100%;
    // min-width: 240px;
    display: contents;
  }
}

@media screen and (max-width: 960px) {
  .form__discount-details {
    flex-wrap: wrap;
  }
}
