<div
  class="new-discount-wrapper"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <mat-card>
    <mat-card-content>
      <form
        class="form"
        fxLayout.xs="column"
        fxLayoutAlign.xs="center start"
        [formGroup]="newDiscountForm"
        #formDirective="ngForm"
        (ngSubmit)="onSubmit()"
      >
        <div
          class="full-width"
          fxLayout="row"
          fxLayoutGap="30px"
          fxLayoutAlign="center center"
          fxLayout.xs="column"
          fxLayoutGap.xs="5px"
        >
          <mat-form-field class="full-width">
            <mat-label>{{
              "NEW_DISCOUNT_FORM.NAME_VENDOR" | translate
            }}</mat-label>
            <input
              type="text"
              matInput
              formControlName="vendorName"
              [matAutocomplete]="auto"

              placeholder="{{
                'NEW_DISCOUNT_FORM.PLACEHOLDER_VENDOR_NAME' | translate
              }}"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredList"
                [value]="option.vendorName"
              >
                {{ option.vendorName }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="vendorName.errors?.requireMatch">{{
              "NEW_DISCOUNT_FORM.NAME_VENDOR_ERROR" | translate
            }}</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width product-service">
            <mat-label>{{
              "NEW_DISCOUNT_FORM.PRODUCT_SERVICE" | translate
            }}</mat-label>
            <input
              matInput
              placeholder="{{
                'NEW_DISCOUNT_FORM.PLACEHOLDER_PRODUCT_SERVICE' | translate
              }}"
              formControlName="discountName"
            />
          </mat-form-field>
        </div>

        <mat-form-field class="full-width">
          <mat-label>{{
            "NEW_DISCOUNT_FORM.DESCRIPTION" | translate
          }}</mat-label>
          <textarea
            class="form__discount-description"
            formControlName="description"
            matInput
            #description
            maxlength="5000"
          >
          </textarea>
          <mat-hint class="description-limit"
            >{{ description.value.length }} / 5000</mat-hint
          >
        </mat-form-field>

        <div
          class="form__discount-details"
          fxLayout="row"
          fxLayoutAlign="space-between"
          fxLayoutGap="30px"
          fxLayout.xs="column"
          fxLayoutGap.xs="0"
        >
          <mat-form-field class="form__discount-details-amount">
            <mat-label>{{
              "NEW_DISCOUNT_FORM.AMOUNT_DISCOUNT" | translate
            }}</mat-label>
            <input
              matInput
              type="number"
              placeholder="{{
                'NEW_DISCOUNT_FORM.PLACEHOLDER_PERCENT' | translate
              }}"
              formControlName="discountAmount"
              min="1"
              max="100"
            />
            <span matSuffix>%</span>
            <mat-error *ngIf="discountAmount.invalid"
              >{{ "NEW_DISCOUNT_FORM.MIN_MAX_PERCENT" | translate }}:
              1-100%</mat-error
            >
          </mat-form-field>

          <mat-form-field class="promo-code">
            <mat-label>{{
              "NEW_DISCOUNT_FORM.PROMO_CODE" | translate
            }}</mat-label>
            <input
              matInput
              placeholder="{{
                'NEW_DISCOUNT_FORM.PLACEHOLDER_PROMO_CODE' | translate
              }}"
              formControlName="promoCode"
            />
          </mat-form-field>

          <mat-form-field class="date">
            <mat-label class="date__label">{{
              "NEW_DISCOUNT_FORM.DATE_START_END" | translate
            }}</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input
                matStartDate
                formControlName="startDate"
                placeholder="{{
                  'NEW_DISCOUNT_FORM.PLACEHOLDER_START_DATE' | translate
                }}"
              />
              <input
                matEndDate
                formControlName="endDate"
                placeholder="{{
                  'NEW_DISCOUNT_FORM.PLACEHOLDER_END_DATE' | translate
                }}"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
            <mat-error *ngIf="startDate.hasError('matStartDateInvalid')">
              {{ "NEW_DISCOUNT_FORM.START_DATE_ERROR" | translate }}
            </mat-error>
            <mat-error *ngIf="endDate.hasError('matEndDateInvalid')"
              >{{ "NEW_DISCOUNT_FORM.END_DATE_ERROR" | translate }}
            </mat-error>
          </mat-form-field>

          <div class="activity-date" fxLayout="row">
            {{ "NEW_DISCOUNT_FORM.ACTIVITY_STATUS" | translate }}

            <mat-slide-toggle formControlName="activityStatus" color="primary">
            </mat-slide-toggle>
          </div>
        </div>

        <mat-form-field class="chip-list" formArrayName="tags">
          <mat-label>{{
            "NEW_DISCOUNT_FORM.LABEL_TAGS" | translate
          }}</mat-label>
          <input
            placeholder="{{
              'NEW_DISCOUNT_FORM.PLACEHOLDER_NEW_TAG' | translate
            }}"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
          />
          <mat-chip-list #chipList aria-label="Tag selection">
            <mat-chip
              [selectable]="selectable"
              *ngFor="let tag of tags.controls; index as i"
              [removable]="removable"
              (removed)="remove(tag)"
              [FormControlN]="tags.controls[i]"
            >
              {{ tag.value }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </mat-form-field>

        <div class="points_title">
          <h4>{{ "NEW_DISCOUNT_FORM.POINTS_TITLE" | translate }}</h4>
        </div>

        <div formArrayName="pointOfSales">
          <div
            *ngFor="let point of pointOfSalesForms.controls; let i = index"
            [formGroupName]="i"
          >
            <div
              class="points"
              fxLayoutAlign="start center"
              fxLayout.xs="center center"
            >

              <mat-form-field class="point__name">
                <mat-label>{{ "NEW_DISCOUNT_FORM.NAME_LABEL" | translate }}</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="name"
                  [matAutocomplete]="auto"/>
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option
                    *ngFor="let option of filteredPointNameList"
                    [value]="option.name"
                  >
                    {{ option.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field class="point__address">
                <mat-label>{{
                  "NEW_DISCOUNT_FORM.ADDRESS_LABEL" | translate
                }}</mat-label>
                <input
                  matInput
                  placeholder="{{
                    'NEW_DISCOUNT_FORM.ADDRESS_PLACEHOLDER' | translate
                  }}"
                  formControlName="address"
                />
              </mat-form-field>
              <div class="icons" fxLayout="row" fxLayoutAlign="center center">
                <mat-icon
                  [ngStyle]="{
                    color:
                      !pointOfSalesForms.value[i].latitude ||
                      !pointOfSalesForms.value[i].longitude
                        ? 'red'
                        : 'black'
                  }"
                  (click)="openDialog(i)"
                  matTooltip="{{ 'NEW_DISCOUNT_FORM.OPEN_MAP' | translate }}"
                  aria-label="Icon that displays a tooltip when focused or hovered over"
                  >add_location_alt</mat-icon
                >
                <mat-icon
                  (click)="deletePoint(i)"
                  matTooltip="{{
                    'NEW_DISCOUNT_FORM.DELETE_LOCATION' | translate
                  }}"
                  aria-label="Icon that displays a tooltip when focused or hovered over"
                  >delete</mat-icon
                >
              </div>
            </div>
          </div>
        </div>

        <mat-icon
          (click)="addPoint()"
          matTooltip="{{ 'NEW_DISCOUNT_FORM.ADD_LOCATION' | translate }}"
          aria-label="Icon that displays a tooltip when focused or hovered over"
          >add</mat-icon
        >
        <div *ngIf="coordinateIsEmpty" class="empty_error">
          <mat-error>{{
            "NEW_DISCOUNT_FORM.EMPTYCOORDINATES" | translate
          }}</mat-error>
        </div>

        <button
          mat-raised-button
          color="primary"
          [disabled]="!newDiscountForm.valid || coordinateIsEmpty"
          type="submit"
        >
          {{ "NEW_DISCOUNT_FORM.BTN_TITLE" | translate }}
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
