<div class="saved-list">
  <mat-expansion-panel [expanded]="true"
                       (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="saved-list-header">
      <mat-panel-title>
        <ng-content></ng-content>
      </mat-panel-title>
      
    </mat-expansion-panel-header>
    <ul>
      <li *ngFor="let discount of discounts$ | async">
        <app-saved-list-item
          [discount]="discount"
          (changeFavourites)="getToggleFavourites($event)"
          (requestTicket)="requestTicket($event)"
        ></app-saved-list-item>
      </li>
    </ul>
  </mat-expansion-panel>
</div>
