<div class="map">
  <agm-map
    [latitude]="(locationSelected$ | async).latitude"
    [longitude]="(locationSelected$ | async).longitude"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="false"
  >

    <agm-marker
      *ngFor="let pointOfSales of pointsOfSales$ | async; let i = index"
      (markerClick)="clickedMarker(pointOfSales.name, pointOfSales.id)"
      [latitude]="pointOfSales.latitude"
      [longitude]="pointOfSales.longitude"
      [title]="pointOfSales.name"
    >
      <agm-info-window>
        <p>
          <strong>{{pointOfSales.name}}</strong>
        </p>
        <p>
          <strong>{{pointOfSales.address}}</strong>
        </p>
      </agm-info-window>

    </agm-marker>

  </agm-map>
</div>

