@import "src/variables";

:host {
  text-align: center;
  min-width: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-input {
  width: inherit;

  .search-input__label {
    color: $main_gray;
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
  }

  .search-input__icon {
    color: $main_gray;
  }
}