<!-- <svg style="display:none;">
  <symbol id="search" viewBox="0 0 16 16">
    <path
      d="M6.57,1A5.57,5.57,0,1,1,1,6.57,5.57,5.57,0,0,1,6.57,1m0-1a6.57,6.57,0,1,0,6.57,6.57A6.57,6.57,0,0,0,6.57,0Z"/>
    <rect x="11.84" y="9.87" width="2" height="5.93" transform="translate(-5.32 12.84) rotate(-45)"/>
  </symbol>
</svg> -->
<section class="search">
  <form>
    <input type="text"
           placeholder="Search ..."
           [formControl]="searchTerm"
    >
    <button type="submit" aria-label="submit form">
      <!-- <svg aria-hidden="true">
        <use xlink:href="#search"></use>
      </svg> -->
    </button>
  </form>
</section>
