@import "src/variables";

.header {
  padding: 0 1rem;
  font-size: 1rem;
  width: 100%;
  min-height: $main_header_height;
  align-items: center;
  background: $main_header_bgColor;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;

  a {
    color: $main_header_txtColor;
  }

  .person {

    &:hover,
    &:active,
    &:focus {
      outline: none;
      border: none;
    }
  }

  mat-icon:not(.person) {
    font-size: 1.8rem;
    color: $main_header_txtColor;

    @media screen and (max-width: 767px) {
      color: $indigo;
    }
  }

  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2),
  0 6px 10px 0 rgba(0, 0, 0, .14),
  0 1px 18px 0 rgb(0, 0, 0, .12);

  &__logo {
    text-decoration: none;
    font-size: 1.8em;
    font-weight: bold;
    font-style: normal;
    line-height: 28px;
    z-index: 100;
  }

  &__hamburger {
    height: $main_header_height / 1.5;
    width: $main_header_height / 1.5;
    border: .18em solid $main_header_txtColor;
    border-radius: 50%;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);

    &:after {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border: .18em solid $main_header_txtColor;
      animation: puls 3s ease infinite;
    }

    .bar {
      height: .16em;
      width: 1.1em;
      position: relative;
      background-color: white;
      z-index: -1;

      &:after,
      &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background-color: $main_header_txtColor;
        transition: .3s ease;
        transition-property: top, bottom;
      }

      &:after {
        top: .5em;
      }

      &:before {
        bottom: .5em;
      }
    }

    &.active {
      .bar {
        &:before {
          bottom: 0;
        }

        &:after {
          top: 0
        }
      }
    }

    @keyframes puls {
      0% {
        opacity: 1;
        transform: scale(1);
      }

      100% {
        opacity: 0;
        transform: scale(1.5);
      }
    }

    @media screen and (max-width: 767px) {
      display: flex;
    }
  }

  &__nav {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: $main_header_height;
    display: flex;


    @media screen and (max-width: 767px) {
      background-color: $main_header_txtColor;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      z-index: 1;
      overflow-x: hidden;
      transition: .5s ease left;
      padding-left: 3rem;
      gap: 2rem;
    }


    a {
      color: $main_header_txtColor;
      font-weight: 400;
      font-style: normal;
      font-size: 1rem;


      &:hover,
      &:focus,
      &:active {
        color: $main_header_items_hover;
      }
    }

    &.active {
      left: 0;

      .profile__language_selector {

        @media screen and (max-width: 767px) {
          color: $indigo;
          font-weight: 500;
          font-size: 2rem;
          line-height: 24px;
        }
      }

      a {
        color: $main_header_txtColor;
        font-weight: 400;
        font-size: 1rem;
        line-height: 24px;

        mat-icon {
          font-size: 1.5rem;
        }

        @media screen and (max-width: 767px) {
          color: $indigo;
          font-weight: 500;
          font-size: 1.7rem;
          line-height: 24px;
        }

        &:hover,
        &focus {
          color: $main_header_items_hover;
        }
      }
    }

    .profile {
      height: 28px;
      gap: 1.5rem;
      overflow: hidden;

      .person {
        font-size: 2rem;
      }

      .language {
        pointer-events: none
      }

      .mat-select-arrow {
        color: $main_header_txtColor;

        @media screen and (max-width: 767px) {
          color: $indigo;
          font-weight: 500;
          font-size: 2rem;
          line-height: 24px;
        }
      }

      &__icon {
        color: $main_header_txtColor;

        &:not(.language) {
          cursor: pointer;
        }

        @media screen and (max-width: 767px) {
          font-size: 2em;
          font-weight: 500;
          color: $indigo;
          margin-right: 1.2rem;
        }

        &:hover {
          color: $main_header_items_hover;
        }
      }
    }

    @media screen and (min-width: 767px) {
      position: initial;
      display: flex;
      height: auto;
      width: fit-content;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 1em;
    }
  }

  @media (min-width: 575.98px) {

    padding: 0 calc(50vw - 270px);

    @media (min-width: 767.98px) {

      padding: 0 calc(50vw - 360px);

      @media (min-width: 991.98px) {

        padding: 0 calc(50vw - 480px);

        @media (min-width: 1199.98px) {

          padding: 0 calc(50vw - 590px);

          @media (min-width: 1599.98px) {

            padding: 0 calc(50vw - 640px);
          }
        }
      }
    }
  }
}
