@import "src/variables";

.header {
  font-size: 1rem;
  width: 100%;
  min-height: $main_header_height;
  align-items: center;
  background: $main_header_bgColor;
  position: fixed;
  padding: 0 .5em 0 1em;
  z-index: 99;
  top: 0;
  left: 0;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2),
  0 6px 10px 0 rgba(0, 0, 0, .14),
  0 1px 18px 0 rgb(0, 0, 0, .12);

  &__logo {
    text-decoration: none;
    font-size: 1.8em;
    font-weight: bold;
    font-style: normal;
    line-height: 28px;
    color: #ffffff;
    z-index: 100;
  }

  &__hamburger {
    height: $main_header_height / 1.5;
    width: $main_header_height / 1.5;
    border: .18em solid white;
    border-radius: 50%;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);

    &:after {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border: .18em solid white;
      animation: puls 3s ease infinite;
    }

    .bar {
      height: .16em;
      width: 1.1em;
      position: relative;
      background-color: white;
      z-index: -1;

      &:after,
      &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background-color: white;
        transition: .3s ease;
        transition-property: top, bottom;
      }

      &:after {
        top: .5em;
      }

      &:before {
        bottom: .5em;
      }
    }

    &.active {
      .bar {
        &:before {
          bottom: 0;
        }

        &:after {
          top: 0
        }
      }
    }

    @keyframes puls {
      0% {
        opacity: 1;
        transform: scale(1);
      }
      100% {
        opacity: 0;
        transform: scale(1.5);
      }
    }

    @media screen and (max-width: 700px) {
      display: flex;
    }
  }

  &__nav {
    position: absolute;
    background: rgba(28, 104, 192, .7);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;

    &.active {
      left: 0;
    }

    a {
      color: $main_header_txtColor;
      font-weight: 400;
      font-style: normal;
      font-size: 1rem;
      line-height: 24px;
      letter-spacing: .2em;
      border: none;
      padding: .2em .5em;
      border-radius: 0;
      margin-bottom: .6em;

      &:hover,
      &focus {
        color: $main_header_items_hover;
        outline: none;

        svg {
          fill: $blue;
        }
      }

      @media screen and (min-width: 700px) {
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: inherit;
        border-right: 1px solid white;
        margin: 0;
      }
    }

    .profile {
      padding: 0 .5em;

      &__language_selector {
        border: none;
        outline: none;
        color: $main_header_txtColor;
        background: transparent;
        font-size: 1.5em;
        font-weight: 600;
        cursor: pointer;
        padding: .5em .1em;

        &:hover {
          color: $main_header_profile_txtColor_hover;
        }

        @media screen and (min-width: 700px) {
          font-size: 1.4em;
          font-weight: 500;
        }
      }

      &__language_option {
        color: $main_header_txtColor;
        background: $main_header_bgColor;
        border-radius: $border-radius;
        border: 3px solid white;
        outline: 3px solid white;
        cursor: pointer;
      }

      &__icon {
        color: $main_header_txtColor;
        font-size: 2em;
        cursor: pointer;
        outline: none;

        &:hover {
          color: $main_header_profile_txtColor_hover;
        }
      }
    }

    .active_link {
      color: $main_header_link_active;
    }

    @media screen and (min-width: 700px) {
      position: initial;
      display: flex;
      height: auto;
      width: fit-content;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 1em;
    }
  }

  @media (min-width: 991.98px) {

    padding: 0 calc(50vw - 480px);

    @media screen and (min-width: 1200px) {

      font-size: 1rem;
      padding: 0 calc(50vw - 590px);

      @media screen and (min-width: 1600px) {

        padding: 0 calc(50vw - 690px);

        @media screen and (min-width: 1900px) {

          font-size: 1.2rem;
        }
      }
    }
  }

}
