<header class="header"
        fxLayoutAlign="space-between center"
>
  <a class="header__logo"
     routerLink=""
  >DropPrice</a>
  <span class="header__hamburger"
        (click)="toggleActive()"
        [ngClass]="active ? 'active' : ''"
  >
    <span class="bar"></span>
  </span>
  <div class="header__nav"
       [ngClass]="active ? 'active' : ''"
  >
    <a *appVerifyUserRoles='["Admin"]'
       routerLink="/statistics"
       mat-stroked-button
    >
      {{ "HEADER.ADMIN_PANEL_LINK_TITLE" | translate }}
    </a>
    <a *appVerifyUserRoles='["Moderator"]'
       routerLink="/add-new"
       mat-stroked-button
    >
      {{ "HEADER.MODERATOR_PANEL_LINK_TITLE" | translate }}
    </a>
    <div class="profile"
         fxLayoutAlign="space-around center"
         fxLayoutGap=".5em"
    >
      <mat-icon *ngIf="authUser$ | async"
                class="profile__icon"
                fxLayoutAlign="center center"
                routerLink="/user-profile"
                routerLinkActive="acive"
      >person
      </mat-icon>
      <select
        [(ngModel)]="defaultLang"
        (change)="languageHandler(defaultLang)"
        class="profile__language_selector"
      >
        <option *ngFor="let lang of langs" [value]="lang" class="profile__language_option">
          {{lang}}
        </option>
      </select>
      <button *ngIf="authUser$ | async"
              mat-icon-button
              aria-label="logout icon"
              fxLayoutAlign="center center"
              (click)="logoutHandler()"
      >
        <mat-icon class="profile__icon"
                  fxLayoutAlign="center center"
        >exit_to_app
        </mat-icon>
      </button>
    </div>
  </div>
</header>
