<article class="admin-dashboard"
         ngClass="{{collapseSidebar ? 'collapsed' : ''}}"
>
  <div class="admin-dashboard__sidebar">
    <app-admin-sidebar
      (changeCollapse)="onWidthChange($event)"
    ></app-admin-sidebar>
  </div>
<!--  <div class="admin-dashboard__search">-->
<!--    <app-admin-search-->
<!--      [searchTerm]="searchTerm"-->
<!--    ></app-admin-search>-->
<!--  </div>-->
  <div class="admin-dashboard__outlet">
    <router-outlet></router-outlet>
<!--    <app-admin-content-->
<!--      [ratingSort]="ratingSort"-->
<!--      [ticketCountSort]="ticketCountSort"-->
<!--      [searchResults$]="searchResults$"-->
<!--      [sortRating$]="sortRating$"-->
<!--      [sortTicketCount$]="sortTicketCount$"-->
<!--    ></app-admin-content>-->
  </div>
</article>
