<article class="admin-dashboard"
         ngClass="{{collapseSidebar ? 'collapsed' : ''}}"
>
  <div class="admin-dashboard__sidebar">
    <mat-tab-group>
      <mat-tab label="{{ 'ADMIN_DASHBOARD.DISCOUNT_LABEL' | translate }}"><app-discounts-statistic></app-discounts-statistic> </mat-tab>
      <mat-tab label="{{ 'ADMIN_DASHBOARD.VENDOR_LABEL' | translate }}"><app-vendor-statistics></app-vendor-statistics></mat-tab>
      <mat-tab label="{{ 'ADMIN_DASHBOARD.SETTINGS_LABEL' | translate }}"><app-settings></app-settings></mat-tab>
    </mat-tab-group>
  </div>
  <div class="admin-dashboard__outlet">
    <router-outlet></router-outlet>
  </div>
</article>
