@import "src/variables";

.chip-list {
  .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    background-color: $main_header_bgColor;
    opacity: .85;
  }

  .chipsStyle {
    cursor: pointer;
  }
}
