@import "src/variables";

.tags-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5em;
  padding: .5em 1em;

  @media screen and (max-width: 700px) {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__chip {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main_header_txtColor;
    position: relative;
    padding: 0 1em;
    font-style: normal;
    font-weight: 500;
    box-shadow: -1px 3px 7px -2px #a5a4a5;

    @media screen and (max-width: 700px) {
      flex: 1 0 auto;
    }

    &_symbol {
      color: inherit;
    }

    &_text {
      color: inherit;
    }

    &.selected {
      background: $discount_list_item_sale;
      color: $main_header_txtColor;
    }
  }
  &__icon {
    position: absolute;
    left: 8px;
  }
  mat-chip{
    cursor: pointer;
  }
  mat-chip:hover {
    color: $main_header_txtColor;
    background: $discount_list_item_sale;
  }
  .mat-chip.mat-standard-chip::after {
    background: none;
  }
}
