@import "src/variables";

.tags-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5em;
  padding: .5em 1em;

  &__chip {
    font-size: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5em;
    background-color: white;
    position: relative;
    cursor: pointer;
    padding: 0 1em;
    font-style: normal;
    font-weight: 500;
    box-shadow: -1px 3px 7px -2px #a5a4a5;

    &_symbol {
      color: inherit;
    }

    &_text {
      color: inherit;
    }

    &.selected {
      background: #709ace;
      color: white;
    }
  }
  &__icon {
    position: absolute;
    left: 8px;
  }

  mat-chip:hover {
    color: white;
    background: #aac8f1;
  }
  .mat-chip.mat-standard-chip::after {
    background: none;
  }

}
