<mat-chip-list class="chip-list" [selectable]="true" [multiple]="true">
  <mat-chip class="chipsStyle" #chip="matChip" *ngFor="let tag of tags$ | async" (click)="toggleSelection(chip)"
    [value]="tag" (selectionChange)="changeSelectedTag($event, userAction)">
    # {{ tag.tagName }}
  </mat-chip>
</mat-chip-list>

<!-- TODO -->
<!-- <mat-accordion *ngIf="tags.length > 8; else elseBlock">
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <p>Теги для поиска</p>
    </mat-expansion-panel-header>
    <mat-chip-list class="chip-list" [selectable]="true" [multiple]="true">
      <mat-chip class="chipsStyle" #chip="matChip" *ngFor="let tag of tags$ | async" (click)="toggleSelection(chip)"
        [value]="tag" (selectionChange)="changeSelectedTag($event, userAction)">
        # {{ tag.tagName }}
      </mat-chip>
    </mat-chip-list>
  </mat-expansion-panel>
</mat-accordion>
<ng-template #elseBlock>
  <mat-chip-list class="chip-list" [selectable]="true" [multiple]="true">
    <mat-chip class="chipsStyle" #chip="matChip" *ngFor="let tag of tags$ | async" (click)="toggleSelection(chip)"
      [value]="tag" (selectionChange)="changeSelectedTag($event, userAction)">
      # {{ tag.tagName }}
    </mat-chip>
  </mat-chip-list>
</ng-template> -->