.flexible{
  display: flex;
}

.discount{
  display:flex;
  left:0;
  right:0;
  margin: 5px auto 0px;
  margin-top:10px;
  padding-left: 35px;
  padding-right: 35px;
  width: 80%;
  min-width: 400px;
  height: 150px;
  border:1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 0px rgba(53, 52, 52, 0.5);;
}
.persent_of_discount{
  color :red;
}
.left-side{
  width: 30%;
  display:flex;
}
.right-side{
  width: 30%;
  display:flex;
}
.vendors_info{

  .vendor_name{
    min-width: 100px;
    border-bottom: 1px solid black;
  }
}
.button{
  min-width: 30px;
  border-radius: 25px;
}
.persent_of_discount{
  display: flex;
}

.img{
  width: 40px;
  height: 40px;
}
.rating-block{
  font-size: 25px;
  margin-left: 10px;
  h2{
    position: relative;
    top:4px;
    font-size: 20px;
  }
}
