<div class="container">
  <div class="corner-ribbon-6 corner-ribbon-6-top-right">
    <span class="discount-card__amount_text">
      {{ discount.discountAmount }} %
    </span>
  </div>

  <div class="titles" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div fxShow fxHide.sm>
      <h2>
        <a class="discount-card__vendor_link" [routerLink]="['/vendors', discount.vendorId]"
           matTooltip="{{ discount.vendorName }}" matTooltipPosition="right">
          {{ discount.vendorName | truncateString:15 }}
        </a>
      </h2>
    </div>
    <div fxHide fxShow.sm>
      <h2>
        <a class="discount-card__vendor_link" [routerLink]="['/vendors', discount.vendorId]"
          matTooltip="{{ discount.vendorName }}" matTooltipPosition="right">
          {{ discount.vendorName }}
        </a>
      </h2>
    </div>
    <mat-icon class="favorite" fxLayoutAlign="center center"
              matTooltip="{{'MAIN_PAGE.DISCOUNT_CARD.TOOLTIP_FAVORITE' | translate}}" matTooltipPosition="right"
              [ngStyle]="{'color': discount.isSaved ? '#da8171' : '#adadaf'}"
              (click)="toggleFavorites(discount.discountId)">
      favorite
    </mat-icon>
  </div>

  <div class="discount-info">
    <div>
      <p class="discount-card__header_title">
        <a [routerLink]="['/discounts', discount.discountId]"
           matTooltip="{{ discount.discountName }}" matTooltipPosition="below">
          {{ discount.discountName | truncateString:50 }}
        </a>
      </p>
    </div>

    <div class="discount-disctance">
      <div class="discount-card__distance">
        <span>{{discount.distanceInMeters | metersToKilometers}}</span>
        <span>{{ "MAIN_PAGE.DISCOUNT_CARD.DISTANCE" | translate }}</span>
      </div>
    </div>
  </div>

  <div class="discount-footer">
    <div class="rating-main" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2px">
        <span class="rating__amount" matTooltip="{{'MAIN_PAGE.DISCOUNT_CARD.TOOLTIP_RATING' | translate}}"
              matTooltipPosition="right">
          {{discount.discountRating | number: '.1-1'}}
        </span>
        <mat-icon *ngIf="discount.discountRating > 0" class="rating__icon">star_rate
        </mat-icon>
      </div>
    </div>
    <div>
      <button class="action__ticket"
              mat-stroked-button
              color="primary"
              (click)="ticketHandler(discount.discountId)"
              [class.discountAvailable]="!discount.discountAvailable || !discount.activityStatus"
              [disabled]="!discount.discountAvailable || !discount.activityStatus"
      >
        {{
        discount.discountAvailable && discount.activityStatus
          ? ("MAIN_PAGE.BUTTONS.TICKET" | translate)
          : ("MAIN_PAGE.BUTTONS.DISCOUNT_INACTIVE" | translate)
        }}
      </button>
    </div>
  </div>
</div>


