  <div class="admin-dashboard__search">
    <app-admin-search
    (onEmitSearchTerm)="searchTermChange($event)"
    [initialValue]="searchTerm$"
    ></app-admin-search>
  </div>
  <section class="content">
    <section class="grid">
      <article>
        <div>
          <mat-card
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <mat-form-field>
              <mat-label>{{'сортировать по рейтингу'}}</mat-label>
              <mat-select [formControl]="ratingSort"
              >
                <mat-option *ngFor="let rating of sortRating$ | async " [value]="rating">
                  {{rating.includes('Asc') ? 'по возрастанию' : 'по убыванию'}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'сортировать по ticket'}}</mat-label>
              <mat-select [formControl]="ticketCountSort"
              >
                <mat-option *ngFor="let ticketCount of sortTicketCount$ | async" [value]="ticketCount">
                  {{ticketCount.includes('Asc') ? 'по возрастанию' : 'по убыванию'}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card>

          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name</th>
              <td mat-cell *matCellDef="let element"> el.x{{element.discountName}} </td>
            </ng-container>

            <ng-container matColumnDef="rating">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Rating</th>
              <td mat-cell *matCellDef="let element"> {{element.discountRating ? element.discountRating.toFixed(1) : '-'}} </td>
            </ng-container>

            <ng-container matColumnDef="ticketCount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tickets</th>
              <td mat-cell *matCellDef="let element"> {{element.ticketCount}} </td>
            </ng-container>

<!--            <ng-container matColumnDef="email">-->
<!--              <th mat-header-cell *matHeaderCellDef> Email</th>-->
<!--              <td mat-cell *matCellDef="let element"> {{element.email}} </td>-->
<!--            </ng-container>-->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </article>
      <!--    <article>-->
      <!--      <div id="search-component">-->
      <!--        <h4>Vendors Searches</h4>-->
      <!--        <ul class="search-result">-->
      <!--          <li *ngFor="let vendor of sortRating$ | async" >-->
      <!--            {{vendor | json}}-->
      <!--          </li>-->
      <!--        </ul>-->
      <!--        <hr>-->
      <!--        <ul class="search-result">-->
      <!--          <li *ngFor="let vendor of sortTicketCount$ | async" >-->
      <!--            {{vendor | json}}-->
      <!--          </li>-->
      <!--        </ul>-->
      <!--      </div>-->
      <!--    </article>-->
      <!--    <article></article>-->
      <!--    <article></article>-->
      <!--    <article></article>-->
      <!--    <article></article>-->
      <!--    <article></article>-->
      <!--    <article></article>-->
    </section>
  </section>

