@import "src/variables";

.discounts-box {
  font-size: 1rem;
  padding-top: 2em;

  &__title {
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
    color: #ffffff;
  }

  &__settings {
    display: flex;
    justify-content: space-between;
    padding: 0 3em;
    font-size: 1.2em;
    font-weight: 700;
    color: $discount_filter_selector_text_color;
  }

  &__list {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    @media screen and (min-width: 700px) {

      overflow-y: scroll;

      &::-webkit-scrollbar-track {

        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: .5em;
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar {

        width: .3em;
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar-thumb {

        border-radius: .5em;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #7ec4f3;
      }
    }
  }
}
