@import "src/variables";

.discounts-box {
  font-size: 1rem;
  padding-bottom: 2rem;
  margin-top: 2rem;

  &__settings {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: $gray_text_color;

    .mat-form-field {
      width: 25%;
      font-weight: 500;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
      flex-wrap: wrap;

      .mat-form-field {
        width: 100%;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    row-gap: 20px;
    column-gap: 20px;

    @media screen and (min-width: 700px) {

      &::-webkit-scrollbar-track {

        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: .5em;
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar {

        width: .3em;
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar-thumb {

        border-radius: .5em;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #7ec4f3;
      }
    }
  }
}
