<div class="discounts-box">
  <h3>
    <ng-content></ng-content>
  </h3>
  <div class="discounts-box__settings">

    <mat-form-field class="filter-selector">
      <mat-label class="filter-label" fxLayoutAlign="start center">
        {{"MAIN_PAGE.FILTER.SORT_BY.TITLE" | translate}} :
      </mat-label>
      <input type="text"
             matInput
             [formControl]="mainSortBy"
             [matAutocomplete]="sortBy"
      />
      <mat-autocomplete #sortBy="matAutocomplete" [displayWith]="displaySort.bind(this)">
        <mat-option *ngFor="let sort of sorts$ | async "
                    [value]="sort"
        >
          {{sort.name | translate}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="form-field-location">
      <mat-label class="filter-label" fxLayoutAlign="start center">
        <mat-icon class="location__icon">room</mat-icon>
        {{"MAIN_PAGE.FILTER.LOCATION_SORT.TITLE" | translate}} :
      </mat-label>
      <input type="text"
             matInput
             [formControl]="locationSort"
             [matAutocomplete]="location"
      />
      <mat-autocomplete #location="matAutocomplete" [displayWith]="displayTown.bind(this)">
        <mat-option *ngFor="let town of towns$ | async"
                    [value]="town"
        >
          {{town.townName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  </div>
  <ul class="discounts-box__list">
    <li *ngFor="let discount of discounts$ | async ">
      <app-discounts-list-item
        [discount]="discount"
        (changeFavourites)="getToggleFavourites($event)"
        (requestTicket)="requestTicket($event)"
      ></app-discounts-list-item>
    </li>
  </ul>
  <app-go-to-top></app-go-to-top>
</div>
