<div class="discount" fxLayoutAlign="space-between">
  <div fxLayout='column' class="left-side" fxLayoutAlign="space-evenly">
    <div
      class="flexible"
      (click)="addToFavorites()"
    >
      <h1 class="discount_name">{{discountObj.discountName}}</h1>
      <img src={{currentHeartStatus}} alt="favorite" class="img">
      <div class="flexible rating-block">
        <h2>{{discountObj.discountRating}}</h2> <img src="assets/img/star.png" alt="rating" class="img">
      </div>
    </div>
    <div class="vendors_info">
      <div class="vendor_name">{{discountObj.vendorName}}</div>
      <p class="vendor_distanse">{{discountObj.distance | metersToKilometers}} {{"MAIN_PAGE.DISCOUNT.DIST_TRANSLATE" | translate}}</p>
    </div>
  </div>
  <div fxLayout='column' fxLayoutAlign="space-evenly" class="right-side">
    <h1 class="persent_of_discount" fxLayoutAlign="flex-end"><b>{{discountObj.discountAmount}} %</b></h1>
    <div class="flexible" fxLayoutAlign="space-between">
      <p class="date_of_discount"> до {{discountObj.endDate | date:"dd/MM/yyyy"}}</p>
      <button
        mat-raised-button
        color="primary"
        class="button"
        (click)="talonHandler()"
      >
        {{ "MAIN_PAGE.BUTTONS.TALON" | translate }}
      </button>
    </div>
  </div>
</div>
