@import "src/variables";

.shadow {
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  background: rgba(0, 0, 0, .4);
}

.modal {
  font-size: 1rem;
  padding: 2em;
  background: $main_header_txtColor;

  &__title {
    font-size: 1.2em;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  &__content {
    font-size: 1.2em;
    text-align: center;
    font-weight: 500;
    margin-bottom: 1em;
  }

  button {
    font-size: 1.2em;
  }
}
