<li class="list-item">
  <p class="list-item__title" [routerLink]="['/discounts', ticket.discountId]"
     matTooltip='{{ "USER_PROFILE.LIST_ITEM.TOOLTIP_DISCOUNT" | translate }}'
     matTooltipPosition="above"
     [class.isExpired]="ticket.isExpired || !ticket.discountActivity"
  >
    {{ ticket?.discountName }}
  </p>

  <div fxLayout="row" fxLayoutGap=".5em">
    <p class="list-item__subtitle"
       [routerLink]="['/vendors', ticket.vendorId]"
       matTooltip='{{ "USER_PROFILE.LIST_ITEM.TOOLTIP_VENDOR" | translate }}'
       matTooltipPosition="above"
    >
      {{ ticket?.vendorName }}
    </p>
    <div class="list-item__actions_favorite">
      <mat-icon class="list-item__icon_favorite"
                fxLayoutAlign="center center"
                matTooltip='{{ "USER_PROFILE.LIST_ITEM.TOOLTIP_FAVORITE" | translate }}'
                [ngStyle]="{'color': ticket.isSavedDiscount ? 'rgb(218, 129, 113)' : '#adadaf'}"
                (click)="toggleFavorites(ticket.discountId)"
      >
        favorite
      </mat-icon>
    </div>
  </div>

  <p class="list-item__date"
     [class.isExpired]="ticket.isExpired || !ticket.discountActivity">
    <span class="list-item__date_label">
      <small>{{"USER_PROFILE.LIST_ITEM.DATE_ORDER" | translate}}
        : {{ticket.orderDate | date: 'dd/MM/yyyy, HH:mm '}}</small>
    </span>
  </p>
  <div class="list-item__actions">
    <div class="list-item__actions_ticket">
      <button class="action__ticket"
              mat-raised-button
              matTooltip='{{ "USER_PROFILE.TICKET_BUTTON.TOOLTIP_TICKET" | translate }}'
              (click)="ticketHandler(ticket.discountId)"
              [class.discountInActive]="(!ticket.discountActivity || !ticket.discountAvailable) && ticket.isExpired"
              [disabled]="(!ticket.discountActivity || !ticket.discountAvailable) && ticket.isExpired"
      >
        {{
        ticket.discountActivity && ticket.discountAvailable
          ?
          ticket.isExpired
            ? ("USER_PROFILE.TICKET_BUTTON.ORDER_TICKET" | translate)
            : ("USER_PROFILE.TICKET_BUTTON.SHOW_TICKET" | translate)
          :
          ticket.isExpired
            ? ("USER_PROFILE.TICKET_BUTTON.DISCOUNT_INACTIVE" | translate)
            : ("USER_PROFILE.TICKET_BUTTON.SHOW_TICKET" | translate)
        }}
      </button>
    </div>
  </div>
</li>
