<li class="list-item">
  <p class="list-item__title" [routerLink]="['/discounts', ticket.discountId]"
     matTooltip="Подробнее о Скидке"
     matTooltipPosition="above"
  >
    {{ ticket?.discountName }}
  </p>
  <p class="list-item__subTitle"
        [routerLink]="['/vendors', ticket.vendorId]"
        matTooltip="Подробнее о Вендоре"
        matTooltipPosition="above"
  >
    {{ ticket?.vendorName }}
  </p>
  <p class="list-item__date">
<!--    <span class="list-item__date_label">-->
<!--      order date:-->
<!--    </span>-->
    <span class="list-item__date_text"
    >
      <small>{{ticket.orderDate | date: 'medium'}}</small>
    </span>
  </p>
  <div class="list-item__actions">

    <div class="list-item__actions_favourite">
      <mat-icon class="list-item__icon_favourite"
                fxLayoutAlign="center center"
                matTooltip="Toggle Favourites"
                [ngStyle]="{'color': ticket.isExpired ? '#FF6347' : '#FF6347'}"
                (click)="toggleFavorites(ticket.discountId)"
      >
        {{ticket.isExpired ? 'favorite_border' : 'favorite'}}
      </mat-icon>
    </div>

    <div class="list-item__actions_ticket"
         [class.active]="ticket.isExpired">
      <button *ngIf="ticket.discountActivity"
              class="action__ticket"
              matTooltip="Ticket"
              (click)="ticketHandler(ticket.discountId)"
              [class.discountInActive]="!ticket.discountActivity"
              [disabled]="!ticket.discountActivity"
      >
        {{ticket.isExpired ? 'заказать талон' : "показать талон" }}
      </button>
    </div>

  </div>
</li>
