<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxLayout.xs="row" fxLayoutAlign.xs="center center">
    <mat-card-content>
      <form [formGroup]="newDiscountForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input
            matInput
            placeholder="Discount name"
            formControl="discount_name"
          />
        </mat-form-field>

        <div class="points_title">
          <h4>{{ "NEW_DISCOUNT_FORM.POINTS_TITLE" | translate }}</h4>
        </div>

        <div formArrayName="pointsOfSales">
          <div
            *ngFor="let point of pointOfSalesForms.controls; let i = index"
            [formGroupName]="i"
            fxLayoutGap="20px"
            fxLayoutAlign="space-around center"
          >
            <mat-form-field>
              <mat-label>{{
                "NEW_DISCOUNT_FORM.NAME_LABEL" | translate
              }}</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{
                "NEW_DISCOUNT_FORM.ADRESS_LABEL" | translate
              }}</mat-label>
              <input
                matInput
                placeholder="{{
                  'NEW_DISCOUNT_FORM.ADRESS_PLACEHOLDER' | translate
                }}"
                formControlName="adress"
              />
            </mat-form-field>

            <mat-icon (click)="deletePoint(i)">delete</mat-icon>
          </div>
        </div>

        <mat-icon (click)="addPoint()">add</mat-icon>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<div>
  <h4>{{ "NEW_DISCOUNT_FORM.MAP_TITLE" | translate }}</h4>
</div>
<app-map *ngIf="!hide"></app-map>

<div>Value: {{ newDiscountForm.value | json }}</div>
