@import "src/variables";

.user-profile {
  font-size: 1rem;
  position: relative;
  min-height: 100vh;
  padding: 2em 0;
  color: $main_black;

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    justify-items: stretch;
    align-items: stretch;

    article {
      display: flex;
      width: 100%;
      height: fit-content;
      border-radius: $border-radius;
      box-shadow: $box-shadow;

      &:first-child {
        grid-column: 1 / -1;
      }

      @media screen and (max-width: 767px) {
        grid-column: 1 / -1;
      }
    }
  }

  @media screen and (max-width: 767px) {
    position: static;
    width: 100%;
  }
}
