@import "src/variables";
.spin-wrapper{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, .2);
  z-index: 99;

  .spinner{
    position: absolute;
    height: 60px;
    width: 60px;
    border: 3px solid transparent;
    border-top-color: $main_header_bgColor;
    top: 50%;
    left: 50%;
    margin: -30px;
    border-radius: 50%;
    animation: spin 1s linear infinite;

    @media screen and (max-width: 767px) {
      height: 40px;
      width: 40px;
      margin: -20px;
    }

    &:before, &:after{
      content:'';
      position: absolute;
      border: 3px solid transparent;
      border-radius: 50%;
    }

    &:before{
      border-top-color: $indigo;
      top: -12px;
      left: -12px;
      right: -12px;
      bottom: -12px;
      animation: spin 2s linear infinite;
    }

    &:after{
      border-top-color: $discount_list_item_sale;
      top: 6px;
      left: 6px;
      right: 6px;
      bottom: 6px;
      animation: spin 3s linear infinite;
    }
  }
}

@keyframes spin{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
