<li class="list-item"
    [class.isExpired]="!discount.activityStatus"
>
  <p class="list-item__title" [routerLink]="['/discounts', discount.discountId]"
    matTooltip='{{ "USER_PROFILE.LIST_ITEM.TOOLTIP_DISCOUNT" | translate }}'
    matTooltipPosition="above"
  >
    {{ discount?.discountName }}
  </p>

  <div class="corner-ribbon-6 corner-ribbon-6-top-right">
    <span class="discount-card__amount_text">
      {{ discount.discountAmount }} %
    </span>
  </div>

  <div class="list-item__vendor-field" fxLayout="row" fxLayoutGap=".5em">
    <p class="list-item__subtitle"
          [routerLink]="['/vendors', discount.vendorId]"
          matTooltip='{{ "USER_PROFILE.LIST_ITEM.TOOLTIP_VENDOR" | translate }}'
          matTooltipPosition="above"
    >
      {{ discount?.vendorName }}
    </p>

    <div class="list-item__favorite">
      <mat-icon class="list-item__icon_favorite"
                fxLayoutAlign="center center"
                matTooltip='{{ "USER_PROFILE.LIST_ITEM.TOOLTIP_FAVORITE" | translate}}'
                [ngStyle]="{'color': discount.isSaved ? 'rgb(218, 129, 113)' : '#adadaf'}"
                (click)="toggleFavorites(discount.discountId)"
      >
        favorite
      </mat-icon>
    </div>
  </div>

  <p class="list-item__date">
    <span class="list-item__date_label">
     <small>
       {{"USER_PROFILE.LIST_ITEM.DATE_BEFORE" | translate}}:
     </small>
    </span>
    <span class="list-item__date_text">
      <small>{{discount.endDate | date: 'dd/MM/yyyy'}}</small>
    </span>
  </p>

  <div class="list-item__actions"
       fxLayout="row">
    <div class="list-item__actions_ticket">
      <button class="action__ticket"
              mat-raised-button
              matTooltip='{{ "USER_PROFILE.TICKET_BUTTON.TOOLTIP_TICKET" | translate }}'
              (click)="ticketHandler(discount.discountId)"
              [class.discountInActive]="!discount.activityStatus || !discount.discountAvailable"
              [disabled]="!discount.activityStatus || !discount.discountAvailable"
      >
        {{
        discount.activityStatus && discount.discountAvailable
          ?
        discount.isOrdered
          ? ("USER_PROFILE.TICKET_BUTTON.TICKET_LABEL" | translate)
          : ("USER_PROFILE.TICKET_BUTTON.TICKET_LABEL" | translate)
          : ("USER_PROFILE.TICKET_BUTTON.DISCOUNT_INACTIVE" | translate)
        }}
      </button>
    </div>
  </div>
</li>
