.example-form {
  text-align: center;
  min-width: 150px;
  width: 100%;
  display: flex;
  margin: 0 auto;

  .search-input {
    width: 100%;
  }
}
.example-form .dropdown {
  margin-top: -10px;
  width: 20%;
}
.search {
  //margin-top: 132px;
  padding: 20px 100px;
}
mat-icon {
  height: 20px;
  width: 20px;
  font-size: 20px;
  margin-right: 5px;
}
