<div class="search">
  <form class="searchForm">
    <app-search
      (onEmitSearchTerm)="searchTermChange($event)"
      [initialValue$]="initialValue$"
    >
    </app-search>
  </form>
  <div class="listWrapper">
    <!--    <mat-chip-list selectable multiple aria-label="Fish selection">-->
    <!--      <div class="chipsBlock">-->
    <!--        <mat-chip-->
    <!--          class="chipsStyle"-->
    <!--          #chips="matChip"-->
    <!--          *ngFor="let newTags of tags$ | async"-->
    <!--          (click)="getCardsByTag(newTags?.tagName, chips)"-->
    <!--        >-->
    <!--          <mat-icon class="chipsIcon" *ngIf="chips.selected">check</mat-icon>-->
    <!--         #  {{ newTags?.tagName }}-->
    <!--        </mat-chip>-->
    <!--      </div>-->
    <!--    </mat-chip-list>-->
    <app-tags-filter
      [options]="options"
      [formControl]="chipsControl"
      [tags$]="tags$"
    >
    </app-tags-filter>
<!--    <h3>Value: {{chipsControlValue$ | async}}</h3>-->
<!--    <button mat-raised-button (click)="setChipsValue()">Patch Value</button>-->
  </div>
</div>
