@import "src/variables";

.admin-dashboard__search {
  margin: 2rem 0;
}

table {
  width: 100%;
  color: $main_black;
  font-weight: 500;

  .mat-column-name {
    flex: 0 0 50%;
    width: 50%;
    overflow-wrap: break-word;
    hyphens: auto;
    padding-right: 2rem;
  }

  .mat-column-rating {
    flex: 0 0 10%;
    width: 10%;

    .mat-sort-header-container {
      justify-content: center;
    }
    text-align: center;
  }

  .mat-column-ticketCount {
    flex: 0 0 10%;
    width: 10%;

    .mat-sort-header-container {
      justify-content: center;
    }

    text-align: center;
  }

  .mat-header-cell,
  .mat-sort-header {
    font-size: 14px;
    background-color: #d1d1d1;

    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
  }

  .mat-cell,
  .mat-footer-cell {
    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
  }

  .mat-row:nth-child(even) {
    background-color: #eeeeee;
  }

  .mat-row:nth-child(odd) {
    background-color: $main_header_txtColor;
  }
}