<div class="admin-dashboard__search">
  <app-admin-search (onEmitSearchTerm)="searchTermChange($event)" [initialValue$]="searchTerm$"></app-admin-search>
</div>
<section class="content">
  <article class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource$ | async" matSort>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>{{"ADMIN_DASHBOARD.STATS.TABLE.NAME" | translate}}</th>
        <td class="td-name" mat-cell *matCellDef="let element">
          <a [routerLink]="['/discounts', element.discountId]">
            {{element.discountName}}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"ADMIN_DASHBOARD.STATS.TABLE.RATING" | translate}}
        </th>
        <td mat-cell *matCellDef="let element"> {{element.discountRating ? element.discountRating.toFixed(1) : '-'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="ticketCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"ADMIN_DASHBOARD.STATS.TABLE.TICKETS" | translate}}
        </th>
        <td mat-cell *matCellDef="let element"> {{element.ticketCount}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="resultsLength$ | async" [pageSizeOptions]="pageSizes$ | async"
      [pageSize]="pageSize$ | async" showFirstLastButtons></mat-paginator>
  </article>
</section>

