$body_bgColor: #DEEBFA;
$main_header_bgColor: #1C67C0;
$main_header_items_hover: #00b9eb;
$main_header_txtColor: #dde9f8;
$main_header_profile_txtColor_hover: #E88300;
$main_header_link_active: #ffffff;
$main_header_height: 3.4rem;

$vendor_header_text_color: #655B5A;

$discount_card_bg_color: #DEEBFA;
$discount_card_hover_bg_color: #DEEBFA;
$discount_card_text_color: #655B5A;
$isSaved_true_bg_color: #FF473E;
$isSaved_true_bg_color_hover: #000000;
$isSaved_false_bg_color: #A38D8B;
$discountAmount_text_color: #FF0000;
$discountRating_star_color: #c1af11;

$ticket_button_bg_color: #4A94EB;
$ticket_button_text_color: #ffffff;


$discount_filter_selector_text_color: #655B5A;
$discount_detail_text_color: #655B5A;

$ticket-background: #FBFBFB;

$snackbar-color-success: #64ca60;
$snackbar-color-error: #FF473E;

$admin_sidebar_bgColor: #1C67C0;
$admin_sidebar_bgColor_hover: #093E7D;
$admin_sidebar_bgColor_active: #5b9fef;
$admin_sidebar_txtColor_active: #093E7D;
$admin_sidebar_txtColor: #dde9f8;
$admin_sidebar_headingColor: #ffffff;
$admin_sidebar_width: 14em;
$admin_sidebar_width_collapsed: 3.5em;
$admin_content_bgColor: #f0f1f6;
$admin_content_txtColor: #171616;
$admin_content_blockColor: #fff;
$white: #fff;
$black: #333;
$blue: #00b9eb;
$red: #ec1848;
$orange: #E88300;
$border-radius: 4px;
$box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
