$main_header_height: 3.4rem;
$border-radius: 4px;
$box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);

$main_header_bgColor: #1C67C0;
$main_header_items_hover: #c8cfd6;
$main_header_txtColor: #ffffff;

$discount_list_item_sale: #709ace;
$discount_list_item_vendor_link: #4b4c52;
$main_black: #313237;
$main_gray: #d6d6d9;
$favorite_discount: #da8171;
$indigo: #3f51b5;

$ticket-background: #FBFBFB;
$discount_filter_selector_text_color: #655B5A;
$gray_text_color: #655B5A;
$snackbar-color-success: #64ca60;
$snackbar-color-error: #FF473E;

$mat-panel-header-color: #adadb5;
