$bg_body_color: #DEEBFA;
$bg_header_color: #1C68C0;
$hover_header_items: #41628D;

$header_height: 4.4rem;

$discount_card_bg_color: #ffffff;
$discount_card_text_color: #000000;
$isSaved_true_bg_color: #FF473E;
$isSaved_true_bg_color_hover: #FF6347;
$isSaved_false_bg_color: #A38D8B;
$discountAmount_text_color: #FF0000;
$discountRating_star_color: #ebee45;
$ticket_button_bg_color: #4A94EB;
$ticket_button_text_color: #ffffff;
$discount_filter_selector_text_color: #655B5A;

$ticket-background: #FBFBFB;



