@import "../../../../variables";

%form {
  width: 100%;
  max-width: 900px;
  margin: 2.5em auto;
}

mat-card {
  @extend %form;
  padding: 25px 50px;
  min-width: 200px;

  @media screen and (device-aspect-ratio: 40/71) {
    min-width: 300px;
  }

  h2 {
    align-self: center;
  }
}

.new-discount-title {
  text-align: center;
}

.form {
  &__discount-description {
    height: 190px;
  }

  &__discount-details {
    margin-top: 10px;
  }

  .chip-list {
    display: inline;
  }
}

::ng-deep {
  .mat-form-field-wrapper {
    width: 100%;
  }

  .mat-slide-toggle-bar {
    margin-bottom: 4px;
  }

}

.activity-date {
  margin-top: 17px;
}

.full-width {
  width: 100%;
}

.points {
  margin-bottom: 10px;

  @media screen and (max-width: 660px) {
    flex-wrap: wrap;
  }

  .point {

    &__name,
    &__address {
      width: 100%;
      margin-right: 30px;

      @media screen and (max-width: 660px) {
        width: 100%;
      }
    }
  }
}

.empty_error {
  display: block;
  margin-top: 10px;
}

button {
  width: 100%;
  margin-top: 20px;
}

mat-icon {
  cursor: pointer;
}

.mat-card-subtitle {
  margin-bottom: 0;
  color: #FF473E;
}

.mat-slide-toggle {
  margin-left: 5px;
}

@media screen and (max-width: 660px) {
  mat-card-content {
    font-weight: normal;
    font-size: 14px;
    letter-spacing: initial;
    margin: 0;
  }

  .chip-list,
  .form__discount-details {
    width: 100%;
    ;
  }
}

.snackbar-color-success {
  background-color: $snackbar-color-success;
}

.snackbar-color-error {
  background-color: $snackbar-color-error;
}

@media screen and (max-width: 960px) {
  .form__discount-details {
    flex-wrap: wrap;
  }
}

.all_discounts {
  margin-bottom: 20px;
  font-weight: 500;
}

.points {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  flex-wrap: nowrap;

  @media screen and (max-width: 660px) {
    gap: 2em;
    align-items: flex-start;
  }

  &__info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 660px) {
      flex-direction: column;
    }
  }
}