<app-search-bar
  [tags$]="tags$"
  [searchTerm$]="searchTerm$"
  [activeTags$]="requestTags$"
  (searchQueryChange)="onSearchQueryChange($event)"
></app-search-bar>
<app-discounts-list
  [sortBy]="sorts$"
  [items$]="discounts$"
  [towns$]="towns$"
  [sorts$]="sorts$"
  (locationChange)="onLocationChange($event)"
  (sortChange)="onSortChange($event)"
  (getTicket)="getTicket($event)"
  (toggleFavourites)="changeFavourites($event)"
> Discounts
</app-discounts-list>
<ng-template appRef></ng-template>
