
.flex{
  display: flex;
}

.main-container{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 90%;
  left: 0;
  right: 0;
  margin:0 auto;
  padding: 5px;
}

.search{
  height: 30%;
  padding: 5px;
}

.discount-wrapper{
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: inherit;
}

.example-form {
  text-align: center;
  min-width: 150px;
  width: 100%;
  
  .search-input{
    width: 80%;
  }
}


