<div class="discount-settings">
    <mat-form-field >
      <mat-label>{{"MAIN_PAGE.SORT.PARAM_SORT.TITLE" | translate}}:</mat-label>
      <mat-select>
        <mat-option *ngFor="let option of sortSettings; let index">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field >
      <mat-label>{{"MAIN_PAGE.SORT.LOCATION_SORT" | translate}}:</mat-label>
      <mat-select>
        <mat-option *ngFor="let town of towns">
          {{town.townName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
<div *ngFor="let discount of discounts">
    <app-discount [discountObj]="discount"></app-discount>
</div>
