@import "src/variables";

:host {
  width: 100%;
}

mat-card {
  width: 100%;
  height: auto;

  .setting__toggle {
    font-size: 1rem;
    margin-bottom: .9rem;
  }

 .setting__textarea {
   width: 100%;
 }
}
