<mat-card [formGroup]="settingEdit">
  <mat-card-title>
    {{"ADMIN_DASHBOARD.SETTINGS" | translate}}{{setting.configName}}
  </mat-card-title>
  <mat-form-field appearance="fill">
    <mat-label>{{setting.configDescription}}</mat-label>
    <input matInput type="text" formControlName="settingValue">
    <button
      mat-button
      matSuffix
      mat-icon-button
      color="primary"
      aria-label="Send"
      [disabled]="settingEdit.invalid"
      (click)="changeConfig(setting.configId)"
    >
      <mat-icon>send</mat-icon>
    </button>
    <mat-slide-toggle *ngIf="setting.dataType === 'bool'"
                      (toggleChange)="changeConfig(setting.configId)"
    >Slide me!</mat-slide-toggle>

  </mat-form-field>
  <mat-card-content>
    <mat-card-subtitle>{{setting.configName}} :</mat-card-subtitle>
    {{setting.configDescription}}
  </mat-card-content>
</mat-card>
