@import "src/variables";

:host {
  text-align: center;
  min-width: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
}


.search-input {
  font-size: 1rem;
  width: inherit;
  padding: 0 2rem;

  .search-input__label {
    color: $main_gray;
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }

  .search-input__icon {
    color: $main_gray;
  }

}
