<!-- <mat-form-field class="searchInput">
  <mat-label class="searchLable">
    <mat-icon class="searchIcon" fxLayoutAlign="center center">search</mat-icon>
    {{ "MAIN_PAGE.SEARCH" | translate }}
  </mat-label>
  <input matInput class="form-control" [formControl]="searchTerm"/>
</mat-form-field> -->

<mat-form-field class="search-input">
  <mat-label class="search-input__label">
    {{ "MAIN_PAGE.SEARCH" | translate }}...
  </mat-label>
  <input class="search-input__input"
    matInput
    type="text"
    [formControl]="searchTerm"
  />
  <!-- <mat-icon class="search-input__icon" fxLayoutAlign="center center">
    {{ "search" }}
  </mat-icon> -->
</mat-form-field>

